$white: #fff;
$black: #111;

$primary: #28bf64;

$maxWidth: 980px;

body {
  background: #ededed;
}

.container {
  max-width: $maxWidth;
  margin: 0 auto;
}

.success {
  color: $primary;
}

.danger {
  color: crimson;
}

/* Color Theme Swatches in Hex */
$Light-Money-1-hex: #35FF86;
$Light-Money-2-hex: #28BF64;
$Light-Money-3-hex: #1B7F43;
$Light-Money-4-hex: #0D4022;
$Light-Money-5-hex: #30E578;

/* Color Theme Swatches in RGBA */
$Light-Money-1-rgba: rgba(53,255,134, 1);
$Light-Money-2-rgba: rgba(40,191,100, 1);
$Light-Money-3-rgba: rgba(27,127,67, 1);
$Light-Money-4-rgba: rgba(13,64,34, 1);
$Light-Money-5-rgba: rgba(48,229,120, 1);

/* Color Theme Swatches in HSLA */
$Light-Money-1-hsla: hsla(144, 100, 60, 1);
$Light-Money-2-hsla: hsla(143, 65, 45, 1);
$Light-Money-3-hsla: hsla(144, 64, 30, 1);
$Light-Money-4-hsla: hsla(144, 66, 15, 1);
$Light-Money-5-hsla: hsla(143, 77, 54, 1);