@import "./reset";
@import "./theme";
@import "./utilities";
@import "./modal";
@import "./components";

header {
  background-color: $secondary;
  text-align: center;
  padding: 2rem 0.5rem 0;
  height: 175px;

  .header__title {
    color: $white;
  }
}

main {
  padding: 0 2rem;

  .main-cards {
    display: flex;
    gap: 2rem;
    margin-top: -5rem;

    @media screen and (max-width: 768px){
      flex-wrap: wrap;
    }

    .main-cards__item {
      background-color: $white;
      width: 100%;
      height: 65px;
      padding: 1.85rem;
      border-radius: 0.2rem;
      text-align: left;

      display: flex;
      justify-content: space-between;
      align-items: baseline;

      &:last-child {
        background-color: $primary !important;
        color: $white;

        .title {
          font-weight: 700 !important;
        }
      }

      .title {
        font-size: 1.23rem;
        font-weight: normal;
        color: $black-a;
      }

      .amount {
        font-size: 2rem;
        font-weight: 700;
        margin-top: 1.2rem;
      }

      .icon {
        font-size: 2em;

        @media screen and (max-width: 768px) {
          display: none;
        }
      }
    }
  }

  .new-trans {
    display: flex;
    align-items: center;
    gap: 5px;

    font-size: 1.45rem;

    &:hover {
      cursor: pointer;
    }
  }

  .table {
    table {
      width: 100%;
      border-spacing: 0 0.5rem;

      thead {
        text-align: left;
      }
    }

    tr {
      background-color: $white;
      border-radius: .0.2rem;
      color: $black-a;

      .icon {
        font-size: 1.5em;
        color: $danger;

        &:hover {
          cursor: pointer;
        }
      }
    }

    th,
    td {
      padding: 2rem;
    }
  }
}